@import "reset";

$header-height: 60px;

%card-options{
    display: block;
    padding: 15px;
    width: 200px;
    height: 280px;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    margin-left: 20px;
}

.account-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    height: 40px;
    position: relative;
    background-color: black;
    color: white;
    padding: 10px;
    margin-right: 15px;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 40px;
}
  
.account-button__img{
    border-radius: 10px;
}

.account-button__arrow-down{
    transform: rotate(90deg);
    margin-right: 5px;
}
  
.account-button__content{
    display: none;
    position: absolute;
    top: 40px;
    right: 0px;
    background-color: rgb(63, 63, 63);
    min-width: 130px;
    z-index: 1;
    border-radius: 10px;
}
  
.account-button__link{
    color: rgb(233, 233, 233);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}
  
.account-button__link:hover{
    background-color: rgb(78, 78, 78);
}

.account-button:hover{
      background-color: rgb(78, 78, 78);
}
  
.account-button:hover {
    .account-button__content{
        display: block;
    }
}

.app{
    overflow: hidden;
    display: grid;
    height: 100vh;
    grid-template-columns: 242px 1fr;
    grid-template-rows: $header-height 1fr 90px;
    background-color: rgb(20, 20, 20);
}

.hat{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 3;
    flex-shrink: 0;
    background-color: rgb(12, 12, 12);
    border-radius: 6px;
}

.accordion{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #1DB954;
    padding: 10px 10px;
    display: fixed;
    border-radius: 5px;
    // position: sticky;
    // left: 0;
    //font-family: 'Open Sans', sans-serif;   
}

.search__field{
    padding-left: 10px;
    height: 30px;
    width: 255px;
    margin-left: 30px;
    border-radius: 10px;
  }

.navigation{
    font-family: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px;
    margin-top: 20px;
}

.link{
    display: flex;
    margin-bottom: 20px;

    text-decoration: none;
    color: black;
    font-weight: 900;
}

.link:hover{
    color: rgb(59, 55, 55);
}

.navigation__text{
    margin-left: 10px;
    padding-top: 3px;
    font-size: 18px;
}

.content{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    // overflow-x: scroll;
    // scroll-snap-type: x mandatory;

    &::-webkit-scrollbar{
        width: 10px;
        height: 10px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: rgb(94, 94, 94);
    }

    &::-webkit-scrollbar-corner{
        background-color: transparent;
    }

    background: inherit;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 20px 20px 20px 20px;
    color: white;
    display: flex;
    flex-direction: column;
    //font-family: 'Open Sans', sans-serif;
}

.music-block{
    margin-bottom: 15px;
}

.block-title{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.block-title__all{
    cursor: pointer;
    margin-right: 20px;
}

.cards{
    display: flex;
    justify-content: flex-start;
}

.card-album{
    @extend %card-options;
}

.card-album:hover{
    position: relative;
    top: 3px;
    right: 3px;
}

.card-album__image{
    margin-bottom: 10px;
    border-radius: 5px;
}

.card-album__name{
    display: inline-block;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
}

.card-album__singer{
    display: inline-block;
    color: #808080;
}

.card-singer{
    @extend %card-options;
}

.card-singer:hover{
    position: relative;
    bottom: -3px;
    left: -3px;
}

.card-singer__image{
    margin-bottom: 10px;
    border-radius: 85px;
}

.card-singer__name{
    display: inline-block;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
}

.card-singer__tag{
    display: inline-block;
    color: #808080;
}

.controls-panel{
    background-color: rgb(12, 12, 12);
    grid-column: 1/3;
    grid-row: 3/4;
    border-top: 1px solid rgb(54, 54, 54);
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    padding: 0 16px;
    flex-shrink: 0;
}

.song{
    //font-family: 'Open Sans', sans-serif;
    display: flex;
    min-width: 250px;
    max-width: 250px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.song__name{
    color: white;
    cursor: pointer;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
}

.song__singer{
    color: grey;
    cursor: pointer;
}

.song__singer:hover{
    color: white;
}

.song__like{
    background-color: inherit;
    cursor: pointer;
    
}

.controls-panel-button{
    background-color: inherit;
}

.playing-field{
    padding: 5px;
    margin: 0px 30px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playing-field__play{
    background-color: rgb(138, 138, 138);
    padding-left: 1px;
    padding-top: 5px;
    height: 32px;
    width: 32px;
    border-radius: 16px;
}

.song__like:hover{
    .like__color{
        fill: white;
    }
}

.playing-field__random:hover{
    .random__color{
        fill: white;
    }
}

.playing-field__prev:hover{
    .prev__color{
        fill: white;
    }
}

.playing-field__play:hover{
    background-color: white;
}

.playing-field__next:hover{
    .next__color{
        fill: white;
    }
}

.playing-field__again:hover{
    .again__color{
        fill: white;
    }
}

.controls{
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100px;
    border-radius: 5px;
    //font-family: 'Open Sans', sans-serif;
    flex-shrink: 0;
}

.controls__text:hover{
    .text__color{
        fill: white;
    }
}

.controls__queue:hover{
    .queue__color{
        fill: white;
    }
}

.controls__volume:hover{
    .volume__color{
        fill: white;
    }
}

